@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

/* font-family: 'Inter', sans-serif; font-family: 'Roboto', sans-serif; */

body {
  background-color: #191765;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url("./images/Ellipse 18@2xleft.png"), url('./images/Group65-1.png');
  background-position: top left, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 150px, 100%;
  margin: 0;
}

.name-intro {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #7d73fc;
  padding-bottom: 3vh;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.profesion {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 138%;
  color: #edecff;
  padding-bottom: 9vh;
}

.app-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.bio {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
  padding: 0 25px 30px 25px;
}

.divider {
  width: 327px;
  height: 0;
  border: 1px solid grey;
  margin: auto;
}

.skills {
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  background-image: url("./images/Ellipse 19@2x.png");
  background-repeat: no-repeat;
  background-position: right;
}

.skills2 {
  flex: 40%;
  padding-left: 40px;
}

.list,
li {
  list-style: none;
  padding: 0;
  line-height: 2;
}

.tskill {
  color: #9490ff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.workarrow {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 40px;
}

.divwork {
  display: none;
}

.arrow {
  width: 15px;
  height: 10px;
  padding-right: 5px;
  margin-top: -25px;
}

.pwork {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
}

.logo-placeholder {
  padding-left: 15px;
}

.recent {
  padding-left: 40px;
}

.br {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
}

.multipost {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  padding-top: 48px;
  gap: 40px;
}

.post {
  display: grid;
  grid-template-columns: auto;
}

.img-post {
  width: 327px;
  height: 236px;
  margin: auto auto;
  background-image: url(./images/Snapshoot_Portfolio@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  max-width: 98%;
}

.languages {
  display: flex;
  justify-content: space-around;
  text-shadow: #3a3837;
}

.post-title {
  padding-top: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 60px;
}

.post-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  padding-bottom: 60px;
}

.ellipse {
  position: absolute;
  width: 39.61px;
  height: 482.57px;
  left: 1px;
  top: 1624.71px;
  background: #edecff;
  filter: blur(50px);
  transform: rotate(-36.38deg);
}

.updivisor {
  width: 1px;
  height: 40px;
  background: #555;
  align-self: center;
}

.seebutton {
  margin-top: 20px;
  padding: 10px 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #edecff;
  background-color: #7d73fc;
  border: none;
  text-decoration: none;
  letter-spacing: 0.03em;
  align-self: flex-start;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 120px;
  padding: 40px;
  text-align: center;
}

.title-contact {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
}

.contact-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.text-input {
  height: 48px;
  width: auto;
  margin-bottom: 20px;
}

textarea {
  font-family: 'Inter', sans-serif;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  resize: none;
}

#finalbutton {
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #edecff;
  background-color: #7d73fc;
  border: none;
  letter-spacing: 0.03em;
  border-radius: 4px;
  float: left;
  max-width: 100px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #3a3837;
  border-bottom: 1px solid black;
  align-items: center;
  cursor: pointer;
}

.imgsocial {
  max-width: 200px;
  max-height: 40px;
}

.contact-email {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

#finalbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#finalbutton span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#finalbutton:hover span {
  padding-right: 25px;
}

#finalbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#finalbutton:hover span::after {
  opacity: 1;
  right: 0;
}

.nobr {
  display: none;
}

.desk-icons {
  display: none;
}

@media (min-width: 600px) {
  .skills {
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 447px;
    margin: auto;
    background-image: none;
  }

  .skills2 {
    text-align: center;
    padding: 0;
    flex: 20%;
  }

  .bio {
    width: 447px;
    margin: auto;
  }

  .divider {
    width: 448px;
  }

  .divider2 {
    width: 90%;
  }

  .br {
    margin-left: 102px;
    display: none;
  }

  .nobr {
    display: block;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    line-height: 114px;
    color: #9390ff;
    padding-left: 2%;
  }

  .post {
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    padding-top: 88px;
    max-width: 1100px;
  }

  .multipost {
    display: flex;
    align-items: center;
    padding-left: 142px;
    padding-right: 142px;
  }

  .img-post {
    max-width: 684px;
    max-height: 448px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    justify-self: end;
    margin: 0;
    background-image: url(./images/Snapshoot_Portfolio@2x.png);
    background-repeat: no-repeat;
    resize: both;
    overflow: auto;
  }

  .contact {
    margin-top: 228px;
    max-width: 684px;
  }

  #finalbutton {
    margin: auto;
    margin-top: 101px;
    width: 250px;
    height: 40px;
  }

  body {
    background-image: url("./images/two-circles-header.png"), url('./images/Group65-1.png');
    background-position: top, center center;
    background-size: 90%, 100%;
  }

  .postinverted {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
  }

  .imginverted {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: start;
  }

  p {
    text-shadow: 2px 2px 4px #000;
  }

  .textos {
    display: flex;
    flex-direction: column;
  }

  .post-title {
    padding-top: 0;
  }

  .post-desc {
    padding-bottom: 24px;
  }

  .seebutton {
    margin-top: 14px;
  }

  .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .workarrow {
    display: none;
  }

  .tripleicon {
    display: none;
  }

  .app-bar {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .desk-icons {
    display: flex;
    gap: 20px;
  }

  .name-intro {
    font-size: 90px;
  }

  .divwork {
    display: block;
  }

  .recent {
    margin-top: 232px;
  }

  footer {
    flex-direction: row;
    gap: 20px;
  }
}
