@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(25, 23, 101);
  margin: 0;
  height: auto;
  color: white;
  background-image: url("Image_objects/Ellipse\ 18@2xleft.png");
  background-repeat: no-repeat;
  background-position: bottom -100px left;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  /* border: 5px solid green; */
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0 40px rbga(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
}

#home {
  margin-left: 6px;
}

#headline1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  color: #7d73fc;
}

#bio {
  max-width: 750px;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
}

article {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("Image_objects/Ellipse\ 19@2x.png");
  background-repeat: no-repeat;
  background-position: right;
}

#skills {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.socialmedia {
  text-align: center;
}

.tskills {
  color: #7d73fc;
}

.right-light {
  float: right;
}

#software {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.separador {
  height: 2px;
  width: 400px;
  border-style: none;
  background-color: grey;
  margin: auto;
}
